@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?ia3rpp');
  src:  url('fonts/icons.eot?ia3rpp#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?ia3rpp') format('truetype'),
    url('fonts/icons.woff?ia3rpp') format('woff'),
    url('fonts/icons.svg?ia3rpp#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-world:before {
  content: "\e904";
}
.icon-bubbles:before {
  content: "\e90b";
}
.icon-printer:before {
  content: "\e90c";
}
.icon-hour-glass:before {
  content: "\e90d";
}
.icon-cross:before {
  content: "\e90e";
}
.icon-checkmark:before {
  content: "\e90f";
}
.icon-apple:before {
  content: "\e910";
}
.icon-android:before {
  content: "\e911";
}
.icon-menu:before {
  content: "\e915";
}
.icon-clock:before {
  content: "\e907";
}
.icon-ingredients:before {
  content: "\e908";
}
.icon-preparation:before {
  content: "\e909";
}
.icon-serving:before {
  content: "\e90a";
}
.icon-arrow-bottom:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-top:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-information:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e9e3";
}
.icon-star-empty:before {
  content: "\e9e4";
}
.icon-star-full:before {
  content: "\e9e5";
}
.icon-twitter:before {
  content: "\e9e7";
}
