@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin simpleShadow() {
    moz-box-shadow: 0px 0px 10px rgba($black, 0.3);
    -webkit-box-shadow: 0px 0px 10px rgba($black, 0.3);
    box-shadow: 0px 0px 10px rgba($black, 0.3);
}

@mixin darkShadow() {
    moz-box-shadow: 0px 0px 5px rgba($black, 0.5);
    -webkit-box-shadow: 0px 0px 5px rgba($black, 0.5);
    box-shadow: 0px 0px 5px rgba($black, 0.5);
}

@mixin hideText() {
    text-indent: -5000px;
    text-align: left;
    overflow: hidden;
}

@mixin textEllipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin animate() {
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease;
}

@mixin rotate($degrees) {
    transform: rotate($degrees);
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
}

@mixin borderBox() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin clearer() {
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin animateHoverOpacity() {
    @include animate();
    &:hover {
        opacity: 0.5;
    }
}

@mixin itemBottom($size, $borderStyle) {
    margin-bottom: $size;
    padding-bottom: $size;
    border-bottom: $borderStyle;
    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }
}

@mixin imageInside($size) {
    height: $size;
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}

@mixin paragraphLines($numLines) {
    line-height: 1.2rem;
    height: $numLines * 1.2rem;
    overflow: hidden;
}

@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}