.headerWrapper {
    background: $colorAccent;
    margin: 0;
    padding: 0 10px;
    position: fixed;
    height: 40px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.header {
    max-width: $sizeDesktop;
    margin: auto;
    @include clearer();
    .logo {
        width:204px;
        float: left;
        padding: 5px 0;
        a {
            height: 30px;
            display:block;
            text-align: left;
            color: $white;
            padding: 0 0 0 30px;
            background-image: url(../../img/logo_icon.png);
            background-position: left center;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            &:before {
                display: block;
                position: absolute;
                top: 0;
                left: 25px;
                bottom: 0;
                width: 1px;
                height: 30px;
                background: rgba($white, 0.5);
                content: '';
            }
            span,
            em {
                display: block;
                text-transform: uppercase;
                font-style: normal;
                line-height: 1em;
                font-weight: normal;
            }
            span {
                font-size: 10px;
            }
            em {
                padding: 2px 0 0 0;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
    .headerLeft {
        width: 210px;
        float: left;
    }
    .headerRight {
        width: calc(100% - 220px);
        float: right;
    }
}

.searchTop {
    padding: 5px 0 0 0;
    float: right;
    max-width: 300px;
    .formField {
        width:calc(100% - 40px);
        float:left;
        input {
            width:100%;
            border: 0;
            height: 30px;
            padding: 0 10px;
            line-height: 30px;
            background: $white;
            border: 0;
            color: lighten($black, 40%);
            font-family: $fontFamily;
            font-size: $fontSizeNormal;
            @include borderRadius(5px);
            @include borderBox();
        }
    }
    .formSubmit {
        background: transparent;
        border: 0;
        padding: 0;
        margin: 0;
        cursor: pointer;
        width: 30px;
        height: 30px;
        line-height: 32px;
        font-size: 20px;
        color: $white;
        float: right;
        @include animateHoverOpacity();
    }
}