$white: #FFF;
$black: #000;

$colorText: #333;
$colorTextAlt: #555;

$colorMain: #069;
$colorMainAlt: #1B9E3E;
$colorAccent:  #ef352b;
$colorAccentAlt: #ffbe1c;

$colorActive: #29C74D;
$colorNotActive: #818181;

$colorMessage: #38B0A6;
$colorMessageAlert: #FFB823;
$colorMessageError: #FF3030;

$colorError: #FD3535;
$colorAccept: #15BA45;
$colorNeutral: #666;

$colorFacebook: #3b5998;
$colorTwitter: #4099FF;
$colorYoutube: #e52d27;
$colorLinkedin: #4875B4;
$colorVimeo: #162221;
$colorInstagram: #517fa4;

/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v7/o-0IIpQlx3QUlC5A4PNr6zRASf6M7VBj.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v7/o-0IIpQlx3QUlC5A4PNr5TRASf6M7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v7/o-0NIpQlx3QUlC5A4PNjXhFVatyBx2pqPIif.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(https://fonts.gstatic.com/s/notosans/v7/o-0NIpQlx3QUlC5A4PNjXhFVZNyBx2pqPA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
$fontFamily: 'Noto Sans', sans-serif;
$fontFamilyIcons: "icons";
$fontFamilyCode: monospace;

$sizeDesktop: 1200px;
$sizeTablet: 800px;
$sizeMobile: 380px;

$zIndexHigh: 9999;
$zIndexMedium: 9998;
$zIndexNormal: 9997;
$zIndexLow: 9996;

$fontSizeNormal: 1rem;
$fontSizeSmall: 0.9rem;
$fontSizeTiny: 0.8rem;
$fontSizeBig: 1.4rem;
$fontSizeLarge: 1.8rem;
$fontSizeHuge: 2rem;

$zIndex: 1000;
$zIndexHigh: 1001;
$zIndexHighest: 1002;
